{% extends "layout.html" %}
{% block body %}
  <p>Go to <a href="http://www.mountainproject.com/v/">Mountain Project</a> and locate link to a route you love.</p>
  <img src="http://www.mountainproject.com/images/37/96/105863796_medium_e6977e.jpg"</img><br><br>
  <i>Guppy</i><br>
  <i>http://www.mountainproject.com/v/guppy/</i><b>105763794</b><br>
  <form action="{{ url_for('search') }}" method="post">
    <dl>
      <dt>Mountain Project ID:
      <dd><input type="text" name="href">
      <dd><input type="submit" value="Get Climbs">
    </dl>
  </form>
  <p><i>Note: Limited to climbs in Colorado (for testing)</i></p><br>
  <p>Special thanks to Dean Wyatte, Steven Rouk, and the Analyze Boulder community</p><br>
  <p>Star this repo on <a href="https://github.com/TheAdamEvans/RouteRobot">Github</a>!!</p>
{% endblock %}
