{% extends "layout.html" %}
{% block body %}
  <h3>Input your favorite climb!</h3>
  <i>Egghead</i><br>
  <i>http://www.mountainproject.com/v/egghead/</i><b>105734840</b><br>
  <form action="{{ url_for('search') }}" method="post">
    <dl>
      <dt>Mountain Project ID:
      <dd><input type="text" name="href">
      <dd><input type="submit" value="Get Climbs">
    </dl>
  </form>
  <p><i>Note: Limited to climbs in SF Bay Area (for testing)</i></p><br>
  <p>Special thanks to Dean Wyatte, Steven Rouk, and the Analyze Boulder community</p>
  <p>All data from http://www.mountainproject.com</p>
{% endblock %}
