{% extends "layout.html" %}
{% block body %}
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<div class="container-fluid" align="center", padding="30">
    <br><br>
    <img src="static/RouteRobot.png" width="272" height="272"</img>
    <br><br><br>
    <div class="row">
        <form class="col-md-offset-2 col-md-8" action="{{ url_for('search') }}" method="post">
          <dl>
            <dd><input class="form-control" type="text" name="query" placeholder="KY pumpy overhung 5.11"><br>
            <dd><input class="btn btn-default" type="submit" value="Get Climbs">
          </dl>
        </form>
    </div>
    <br>
    <p><i>Pro Tip: Use state abbreviations like CO or NY for faster results</i></p><br>
    <p>Special thanks to Dean Wyatte, Steven Rouk, and the Analyze Boulder community.</p>
    <p>Thanks also to <a href="http://www.mountainproject.com/v/">Mountain Project</a> and its dedicated contributors.</p>
    <p>Star this repo on <a href="https://github.com/TheAdamEvans/RouteRobot">Github</a>!!</p>
</div>
{% endblock %}
