{% extends "layout.html" %}
{% block body %}
  <ul class="headz">
  {% for head in headz %}
    <p><i>Showing climbs similar to...</i></p>
    <table width="768" cellpadding="20"><tr>
      <td><h3>{{head.name}}</h3></td>
      <td>
        {% if head.rateYDS %}{{ head.rateYDS }}{% endif %}
        {% if head.rateHueco %} {{ head.rateHueco }}{% endif %}
      </td>
      <td>{{head.keyword}}</td>
    </tr></table>
  {% else %}
    <li><em>Too rad for this database at this time.</em>
  {% endfor %}
  </ul>

<ul class="entries">
<table cellpadding="10" width="768">
  {% for entry in entries %}
  <tr><td align="center">
  <div style="float: left; clear: left">
    <img
      src="http://www.mountainproject.com{{ entry.img_src }}"
      href="http://www.mountainproject.com/v/{{ entry.href }}"
      {% if entry.img_width %}
        width="{{entry.img_width}}"
      {% else %}
        width="164"
      {% endif %}
      
      {% if entry.img_height %}
        height="{{entry.ing_height}}"
      {% else %}
        height="220"
      {% endif %}
    >
  </div>
</td><td>
  <li><h2><a href="http://www.mountainproject.com/v/{{ entry.href }}">{{ entry.name }}</a></h2>
  {% if entry.rateYDS %}
    <p>{{entry.rateYDS}}</p>
  {% endif %}
  {% if entry.rateHueco %}
    <p>{{entry.rateHueco}}</p>
  {% endif %}
  {% if entry.feet %}
    <p>{{entry.feet}}ft</p>
  {% endif%}

  <p>{{entry.keyword}}</p>

  </td></tr>
  {% endfor %}
</table>
</ul>

{% endblock %}